body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #F4F4F4;
}
a {text-decoration: none; color:black }
a:visited { text-decoration: none;color:black  }
a:hover { text-decoration: none;color:black  }
a:focus { text-decoration: none; color:black }
a:hover, a:active { text-decoration: none; color:black }

button:focus {outline:0;}
img:focus {outline:0;}

.blue {
    color: #3B8EFF;
}


.arrow-up {
    position: absolute;
    width: 10em;
    right: 0;
    padding-right: 15px;
    display:none;
}

.reveal {
   display: block;
   position : fixed;
   cursor: pointer;
    z-index: 100;
    bottom: 20px;
    transition: 0.5s ease;
    &:hover {
        transform: scale(1.1, 1.1);
    }
}
.landing {
    &__img {
        height: 100vh;
        width: 100%;
    }
    &__view {
        display: flex;
    }
    &__titles {
        position: absolute;
    }
    &__title {
        padding: 0 20px;
        margin: 0;
        text-transform: uppercase;
        font-family: 'Arapey', 'Bodoni 36';
        font-weight: 500;   
        font-size: 8vw;
    }
    &__subtitle {
        padding: 0 25px;
        margin: 0;
        font-weight: 500; 
        font-size: 30px;  
    }
    &__arrow {
        cursor: pointer;
        position: absolute;
        bottom: 32px;
        width: 100%;
        z-index: 105;
        display: flex;
        justify-content: center;
        transition: all .2s linear;
        -moz-transition: all .2s linear;
        -webkit-transition: all .2s linear;
        &__png {
            width: 100px;
            transition: 0.3s ease;
            &:hover {
                transform: scale(1.1, 1.1) ;
            }
           
        }

    }
}
.home {
    padding: 15px 50px;
    max-width: 2000px;
    margin: auto;
}
.header {
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0 ;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid black;
        img {
            width: 100px;
        }
        .header__title {
            text-transform: uppercase;
            font-family: 'Arapey','Bodoni 36';
            font-weight: 500;   
            font-size: 50px;
            margin-left: 100px;
        }
        .header__address {
            font-family: 'Arapey', 'Bodoni 11';   
            font-size: 13px;
            text-align: right;
        }
    }
}

.menu {
    // border-bottom: 4px solid black;
    width: 100%;
    ul {
        list-style-type: none;
        margin: 0 200px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li a{
            font-family: 'Arapey', 'Bodoni 36';   
            font-size: 40px;
            transition: all .1s linear;
            -moz-transition: all .1s linear;
            -webkit-transition: all .1s linear;
            color: black;
            &:hover {
                color: white;
                cursor: pointer;
                background-color: #3B8EFF;
            }
        }
    }
    &__txt {
        &__1 {
            border-top: 4px solid black;
            border-bottom: 4px solid black;
            font-size: 46px;
            line-height: 50px;
            padding: 20px 0;
        }
        &__2 {
            font-size: 46px;
            line-height: 50px;
            padding: 20px 0;
        }
        
    }
}

.exper {
    border-top: 4px solid black;
    &__title {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        margin: 0;
        font-family: 'Arapey', 'Bodoni 36';   
        font-size: 120px;
        font-weight: 500;
    }
    &__droits {
        border-top: 4px solid black;
        display: flex;
        &__list {
        // display: flex;
        // align-items: baseline;
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px;
        margin: 15px 0;
            &:first-child {
                border-right: 4px solid black;
            }
            &:last-child {
                border-left: 4px solid black;
            }
         &--left {
            // flex: 0 0 25em;
            display: flex;
            align-items: baseline;
                h2 {
                    font-size: 32px;
                    font-weight: 500;
                    margin: 40px 0 70px 0px;
                    cursor: pointer;
                    &:hover {
                        color: #3B8EFF;
                    }
                }
                img {
                    width: 35px;
                    padding-right: 10px;
                }
            }
        &--right {
            font-size: 32px;
            line-height: 39px;
            &--arrow1, &--arrow2, &--arrow3 {
                margin: 20px auto;
                // max-width: 800px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                img {
                    width: 35px;
                    margin-right: 90px;
                    cursor: pointer;
                   
                }
                span {
                    font-size: 15px;
                    font-weight: 500;
                    color: #3B8EFF;
                    cursor: pointer;
                    &:hover {
                        
                    }
                }
            }
            &--arrow3 {
                margin-bottom: 25px;
            }
        }
    }
    &--reduire1, &--reduire2, &--reduire3 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 20px;
        img {
            width: 35px;
            padding: 15px 0 10px 4px;
            cursor: pointer;
        }
        span {
            font-size: 15px;
            font-weight: 500;
            color: #3B8EFF;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &--reduire3 {
        margin-bottom: 25px;
    }
    &--detail1, &--detail2, &--detail3 {
        font-size: 32px;
        line-height: 39px;
        margin-top: 20px;
    }
    }     
}

.actu {
    border-top: 4px solid black;
    &__title {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        font-family: 'Arapey', 'Bodoni 36';   
        font-size: 120px;
        font-weight: 500;
    }
    &__ctn {
        border-top: 4px solid black;
        &__article {
        display: flex;
        padding-bottom: 20px;
            &:last-child {
                padding-bottom: 50px;
            }
           
            &--left {
                
                img {
                    max-width: 400px;
                    cursor: pointer;
                }
            }
            &--right a {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-bottom: 4px solid black;
                width: 100%;
                cursor: pointer;
                min-height: 100%;
                &__title {
                    font-size: 32px;
                    line-height: 39px;
                    padding: 10px;
                }
                &__date {
                    font-size: 20px;
                    padding: 10px;
                }
                &:hover {
                    color: #3B8EFF;
                    border-bottom: 4px solid #3B8EFF;
                }
               
            }
        }
    }
}
.actu__ctn__article--right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 10px;
                width: 100%;
}
.actu__ctn__article--right__title {
    font-size: 30px;
    padding: 10px;
}
.actu__ctn__article--right__date {
    font-size: 20px;
    padding: 10px;
}

.contact {
    border-top: 4px solid black;
    &__title {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        font-family: 'Arapey', 'Bodoni 36';   
        font-size: 120px;
        font-weight: 500;
    }
    &__ctn {
        display: flex;
        justify-content: space-between;
        border-top: 4px solid black;
        padding: 15px 0;
        &--left {
            border-right: 4px solid black;
            flex: 0 0 50%;
            &--titre {
                font-family: 'Arapey', 'Bodoni 36';
                font-size: 42px;
                line-height: 39px;
                font-weight: 500;
            }
            &--name, &--details {
                font-size: 32px;
                line-height: 39px;
            }
            &--details a:hover {
                color: #3B8EFF;
            }
        }
        &--right {
            img {
                max-width: 400px;
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-top: 4px solid black;
    &__link {
        font-family: 'Arapey', 'Bodoni 36';
        font-size: 25px;
        a {
            padding: 20px;
        }
        a:last-child {
            padding: 20px;
        }
        a:hover {
            color: #3B8EFF;
        }
    }
    img {
        max-width: 400px;
    }
    &__credits {
        font-family: 'Arapey', 'Bodoni 36';
        font-size: 18px;
        text-align: center;
    }
}

.article {
    padding: 15px 50px;
    &__title {
        display: flex;
        justify-content: center;
        padding:0;
        margin: 0;
        font-family: 'Arapey', 'Bodoni 36';   
        font-size: 120px;
        font-weight: 500;
    }
    &__ctn {
        border-top: 4px solid black;
        &__title {
            text-align: center;
            font-weight: 500;
            font-size: 45px;
            margin-bottom: 0;
        }
        &__date {
            text-align: center;
            display: block;
            font-size: 20px;
            margin: 15px;
        }
        &__img {
            margin: 35px;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            display: block;
        }
        &__text {
            display: block;
            margin: 50px 0;
            font-size: 32px;
            line-height: 39px;
        }
    }
}

.mentions {
    padding: 15px 50px;
    &__title {
        display: flex;
        justify-content: center;
        padding:0;
        margin: 0;
        font-family: 'Arapey', 'Bodoni 36';   
        font-size: 120px;
        font-weight: 500;
        padding-bottom: 10px;
    }
    &__ctn {
        border-top: 4px solid black;
        display: block;
        margin: 0;
        font-size: 30px;
        line-height: 39px;
        padding: 50px 0;
    }
}



@media only screen and (max-width: 1024px) { 
    .landing__title {
        font-size: 11vw;
    }
    .landing__subtitle {
        font-size: 29px;
    }
    .menu ul {
        margin: 0 100px;
    }
    .menu__txt__1,     .menu__txt__2 {
        font-size: 38px;
        line-height: 42px;
    }
    .exper__droits__list--right, .exper__droits__list--left h2, .exper__droits--detail1, .exper__droits--detail2, .exper__droits--detail3, .contact__ctn--left--name, .contact__ctn--left--details {
        font-size: 28px;
        line-height: 36px;
    }    
}

@media only screen and (max-width: 900px) { 
   
    .home, .article {
        padding: 5px 15px;
    }
    .header ul .header__title {
        font-size: 36px;
        margin-left: 80px;
    }
    .exper__droits {
        flex-direction : column;
    }
    .exper__droits__list:first-child {
        border-right: none;
    }
    .exper__droits__list {
        border-right: none;
        border-left: none;
    }
    .exper__droits__list:last-child {
        border-bottom: none;
        border-left: none;
    }
    .exper__droits__list--left h2 {
        font-size: 42px;
        margin: 0 0 20px 0;
    }
    .exper__droits__list--right--arrow1, .exper__droits__list--right--arrow2, .exper__droits__list--right--arrow3 , .exper__droits--reduire1, .exper__droits--reduire2, .exper__droits--reduire3{
        align-items: flex-start;
    }
    .actu__ctn__article {
        flex-direction: column;
    }
    .actu__ctn__article--left img {
        max-width: none;
        width: 100%;
    }
    .contact__ctn {
        flex-direction: column;
    }
    .actu__ctn__article--right {
        margin-left: 0;
    }
    .contact__ctn--left {
        border-right: none;
        padding: 20px 0 70px 0;
    }
    .contact__ctn--right {
        margin: auto;
        width: 50%;
        display: block;
    }
    .footer__link a {
        padding: 0;
    }
    .mentions__title {
        line-height: 110px;
    font-weight: 500;
    padding-bottom: 17px;
    }
    .article__ctn__img {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) { 
    .landing__title {
        font-size: 10vw;
        line-height: 27px;
        padding: 20px 20px 10px 20px;
    }
    .landing__subtitle {
        font-size: 24px;
    }
    .header ul img {
        width: 50px;
    }
    .header ul .header__address {
        display:none;
    }
    .header ul .header__title {
        font-size: 26px;
    }
    .menu ul {
        /* margin: 0 100px; */
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 15px 0;
    }
    .menu__txt__1, .menu__txt__2 {
        font-size: 23px;
        line-height: 27px;
    }
    .arrow-up {
        width: 6em;
    }
    .exper__title, .actu__title , .contact__title , .mentions__title, .article__title  {
        font-size: 70px;
    }
    .exper__droits__list--left h2 {
        font-size: 30px;
    }
    .exper__droits__list--right,  .exper__droits--detail1, .exper__droits--detail2, .exper__droits--detail3, .contact__ctn--left--name {
        font-size: 22px;
        line-height: 28px;
    }
    .contact__ctn--right img {
        max-width: 280px;
    }
    .contact__ctn--left--details {
        font-size: 20px;
        line-height: 25px;
    }
    .footer img {
        max-width: 280px;
    }
    .contact__ctn--right {
        margin: auto;
        width: 100%;
        display: block;
    }
    .exper__droits__list {
        padding: 0;
    }
    .footer__link {
        font-size: 22px;
    }
    .footer__credits {
        font-size: 17px;
    }
    .actu__ctn__article--right__title {
        font-size: 25px;
    }
    .mentions__title, .article__title {
        font-size: 70px;
        line-height: 66px;
    }
    .mentions__ctn {
        font-size: 20px;
        line-height: 28px;
        padding: 30px 0;
    }
}