body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #F4F4F4;
}
a {text-decoration: none;}
a:visited { text-decoration: none;color:black  }
a:hover { text-decoration: none;color:black  }
a:focus { text-decoration: none; color:black }
a:hover, a:active { text-decoration: none; color:black }

button:focus {outline:0;}
img:focus {outline:0;}

.blue {
    color: #3B8EFF;
}

.landing {
    &__img {
        height: 100vh;
        width: 100%;
    }
    &__view {
        display: flex;
    }
    &__titles {
        position: absolute;
    }
    &__title {
        padding: 0 20px;
        margin: 0;
        text-transform: uppercase;
        font-family: 'Bodoni 36';
        font-weight: 500;   
        font-size: 8vw;
    }
    &__subtitle {
        padding: 0 25px;
        margin: 0;
        font-weight: 500;   
    }
    &__arrow {
        cursor: pointer;
        position: absolute;
        bottom: 32px;
        width: 100%;
        z-index: 105;
        display: flex;
        justify-content: center;
        transition: all .2s linear;
        -moz-transition: all .2s linear;
        -webkit-transition: all .2s linear;
        &__png {
            width: 100px;
            transition: 0.3s ease;
            &:hover {
                transform: scale(1.1, 1.1) ;
            }
           
        }

    }
}
.home {
    padding: 15px 50px;
}
.header {
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0 ;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid black;
        img {
            width: 100px;
        }
        .header__title {
            text-transform: uppercase;
            font-family: 'Bodoni 36';
            font-weight: 500;   
            font-size: 50px;
            margin-left: 100px;
        }
        .header__address {
            font-family: 'Bodoni 11';   
            font-size: 13px;
            text-align: right;
        }
    }
}

.menu {
    // border-bottom: 4px solid black;
    width: 100%;
    ul {
        list-style-type: none;
        margin: 0 300px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            font-family: 'Bodoni 36';   
            font-size: 30px;
            transition: all .1s linear;
            -moz-transition: all .1s linear;
            -webkit-transition: all .1s linear;
            &:hover {
                color: white;
                cursor: pointer;
                background-color: #3B8EFF;
            }
        }
    }
    &__txt {
        &__1 {
            border-top: 4px solid black;
            border-bottom: 4px solid black;
            font-size: 35px;
            line-height: 42px;
            padding: 20px 0;
        }
        &__2 {
            border-bottom: 4px solid black;
            font-size: 35px;
            line-height: 42px;
            padding: 20px 0;
        }
        
    }
}

.exper {
    &__title {
        display: flex;
        justify-content: center;
        padding: 20px 0;
        margin: 0;
        font-family: 'Bodoni 36';   
        font-size: 96px;
    }
    &__droits {
        border-top: 4px solid black;
        border-bottom: 4px solid black;
        &__list {
        display: flex;
        align-items: baseline;
         &--left {
            flex: 0 0 25em;
                h2 {
                    font-size: 30px;
                    font-weight: 500;
                }
            }
        &--right {
            &--arrow1, &--arrow2, &--arrow3 {
                img {
                    width: 35px;
                    padding: 15px 0 10px 4px;
                    cursor: pointer;
                   
                }
                span {
                    font-size: 15px;
                    font-weight: 600;
                    color: #3B8EFF;
                    cursor: pointer;
                }
            }
            &--arrow3 {
                margin-bottom: 25px;
            }
        }
    }
    &--reduire1, &--reduire2, &--reduire3 {
        margin-left: 13em;
        img {
            width: 35px;
            padding: 15px 0 10px 4px;
            cursor: pointer;
        }
        span {
            font-size: 15px;
            font-weight: 600;
            color: #3B8EFF;
            cursor: pointer;
        }
    }
    &--reduire3 {
        margin-bottom: 25px;
    }
    &--detail1, &--detail2, &--detail3 {
        font-size: 30px;
        margin-top: 20px;
    }
    }     
}

.actu {
    &__title {
        display: flex;
        justify-content: center;
        padding: 20px 0;
        margin: 0;
        font-family: 'Bodoni 36';   
        font-size: 96px;
    }
    &__ctn {
        border-top: 4px solid black;
        border-bottom: 4px solid black;
        &__article {
        display: flex;
        padding-bottom: 20px;
            &:last-child {
                padding-bottom: 50px;
            }
            &--left {
                
                img {
                    max-width: 400px;
                    cursor: pointer;
                }
            }
            &--right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-bottom: 4px solid black;
                margin-left: 10px;
                width: 100%;
                cursor: pointer;
                &__title {
                    font-size: 35px;
                    padding: 10px;
                }
                &__date {
                    font-size: 20px;
                    padding: 10px;
                }
            }
        }
    }
}

.contact {
    
}