body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #F4F4F4;
}
a {text-decoration: none;}
a:visited { text-decoration: none;color:black  }
a:hover { text-decoration: none;color:black  }
a:focus { text-decoration: none; color:black }
a:hover, a:active { text-decoration: none; color:black }

button:focus {outline:0;}
img:focus {outline:0;}

.blue {
    color: #3B8EFF;
}

.landing {
    &__img {
        height: 100vh;
        width: 100%;
    }
    &__view {
        display: flex;
    }
    &__titles {
        position: absolute;
    }
    &__title {
        padding: 0 20px;
        margin: 0;
        text-transform: uppercase;
        font-family: 'Bodoni 36';
        font-weight: 500;   
        font-size: 8vw;
    }
    &__subtitle {
        padding: 0 25px;
        margin: 0;
        font-weight: 500;   
    }
    &__arrow {
        cursor: pointer;
        position: absolute;
        bottom: 32px;
        width: 100%;
        z-index: 105;
        display: flex;
        justify-content: center;
        transition: all .2s linear;
        -moz-transition: all .2s linear;
        -webkit-transition: all .2s linear;
        &__png {
            width: 100px;
            transition: 0.3s ease;
            &:hover {
                transform: scale(1.1, 1.1) ;
            }
           
        }

    }
}
.home {
    padding: 15px 50px;
}
.header {
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0 ;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid black;
        img {
            width: 100px;
        }
        .header__title {
            text-transform: uppercase;
            font-family: 'Bodoni 36';
            font-weight: 500;   
            font-size: 50px;
            margin-left: 100px;
        }
        .header__address {
            font-family: 'Bodoni 11';   
            font-size: 13px;
            text-align: right;
        }
    }
}

.menu {
    border-bottom: 4px solid black;
    width: 100%;
    ul {
        list-style-type: none;
        margin: 0 300px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            font-family: 'Bodoni 36';   
            font-size: 30px;
            transition: all .1s linear;
            -moz-transition: all .1s linear;
            -webkit-transition: all .1s linear;
            &:hover {
                color: white;
                cursor: pointer;
                background-color: #3B8EFF;
            }
        }
    }
    &__txt {
        font-size: 35px;
        line-height: 41px;
    }
}
