<section class="actu">
    <h2 class='actu__title'>Actualités</h2>
    <div class='actu__ctn'>
        <div class='actu__ctn__article'> 
            <div class='actu__ctn__article--left'>
                <img src='../assets/airb.png' alt="arrow">
            </div>
            <div class='actu__ctn__article--right'>
                <span class='actu__ctn__article--right__title'>Ce que va changer la réforme</span>
                <span class='actu__ctn__article--right__date'>12-12-12</span>
            </div>
        </div>
          <div class='actu__ctn__article'> 
            <div class='actu__ctn__article--left'>
                <img src='../assets/airb.png' alt="arrow">
            </div>
            <div class='actu__ctn__article--right'>
                <span class='actu__ctn__article--right__title'>Ce que va changer la réforme</span>
                <span class='actu__ctn__article--right__date'>12-12-12</span>
            </div>
        </div>
    </div>
</section>