<section class='contact'>
 <h2 class='contact__title'>Contact</h2>
 <div class='contact__ctn'>
     <div class='contact__ctn--left'>
        <span class='contact__ctn--left--titre'>URBAN ACT AVOCATS</span><br>
        <span class='contact__ctn--left--name'>Valentine Gros<br>
            Avocate au Barreau de Paris</span><br><br>
            <span class='contact__ctn--left--details'>
            valentinegros@urbanactavocat.com<br>
            +33 (1) 42 60 04 31<br>
            222 Boulevard Saint-Germain<br>
            75007 PARIS
            </span>
    </div>
     <div class='contact__ctn--right'>
        <img src='../assets/portrait.jpg' alt="valentinegros">
    </div>
 </div>
</section>