<section class='contact' id="contacts">
 <h2 class='contact__title'>Contact</h2>
 <div class='contact__ctn'>
     <div class='contact__ctn--left'>
        <span class='contact__ctn--left--titre'>URBAN ACT AVOCAT</span><br>
        <span class='contact__ctn--left--name'>Valentine Gros<br>
            Avocate au Barreau de Paris</span><br><br>
            <div class='contact__ctn--left--details'>
                <a href="mailto:valentinegros@urbanactavocat.com" target="_top">valentinegros@urbanactavocat.com</a><br>
                +33 (1) 42 60 04 31<br>
                <span><a href='https://www.google.com/maps/place/222+Boulevard+Saint-Germain,+75007+Paris,+France/@48.8555045,2.3254485,17z/data=!3m1!4b1!4m5!3m4!1s0x47e671d60aee10e1:0x390016a52fada0a!8m2!3d48.8555045!4d2.3276372' target='_blank'>222 Boulevard Saint-Germain<br>
                75007 PARIS</span>
            </div>
    </div>
     <div class='contact__ctn--right'>
        <img src='../assets/portrait.jpg' alt="valentinegros">
    </div>
 </div>
</section>