<section class='exper' id="expertises">
   
    <h2 class='exper__title'>Expertises</h2>

    <div class='exper__droits'>
        <div class='exper__droits__list'>
            {# expertise  1 #}
            <div class='exper__droits__list--left'>
                 <img src='../assets/arrow-right.svg' alt='arrow'>
                 <h2 class='titre-exp1'>Droit Commercial</h2>
            </div>
            <div class='exper__droits__list--right'>
                <span>Urban Act Avocat vous accompagne à chaque étape de la vie de votre entreprise, de son immatriculation à son exploitation, aussi bien en conseil…</span>
                <div class='exper__droits__list--right--arrow1'>
                    <img src='../assets/arrow-small2.svg' alt="arrow">
                    <span>En savoir plus</span>
                </div>  
            </div>  
                <div class='exper__droits--detail1'>
                Urban Act Avocat vous accompagne à chaque étape de la vie de votre entreprise, de son immatriculation à son exploitation, aussi bien en conseil qu’en contentieux devant les juridictions civiles et commerciales.
                <br><br>
                <span>CRÉATION</span><br>
                    -Immatriculation<br>
                    -Rédaction de statuts<br>
                    -Rédaction de pacte d'actionnaires
                    <br><br>
                <span>EXPLOITATION</span><br>
                    -Baux commerciaux<br>
                    -Contrat de franchise<br>
                    -Contrat de distribution
                    <br><br>
                <span>CONTENTIEUX​</span><br>
                Responsabilité contractuelle et délictuelle <br> (Ruptures de relations commerciales établies, rupture abusive de négociations, etc)
            
                <br><br>
                    <span>DOSSIERS RÉCENTS</span><br>
                    -Rédaction et négociation de baux commerciaux et/ou dérogatoires pour des centres commerciaux outlet et assistance juridique en droit de la distribution (réglementations des soldes, étiquetage des produits, opérations promotionnelles…).<br>
                    -Rédaction et négociation de contrats de prestation pour une chaîne de sport et suivi des contentieux l’opposant à des sociétés spécialisées en location financières<br>
                    -Défense des intérêts d’un agent commercial dans le cadre de la résiliation de son contrat d’agent (litige portant sur le montant de l’indemnité de rupture).<br>
                <div class='exper__droits--reduire1'>
                        <img src='../assets/arrow-small-down.svg' alt="arrow">
                        <span>Réduire</span>
                    </div>  

            </div> 
        </div>
      

        {# expertise  2 #}
        <div class='exper__droits__list'>
            <div class='exper__droits__list--left'>
                <img src='../assets/arrow-right.svg' alt='arrow'>
                <h2 class='titre-exp2'>Droit Immobilier</h2>
            </div>
            <div class='exper__droits__list--right'>
                <span>Urban Act Avocat conseille et défend propriétaires et locataires dans un contexte immobilier en pleine mutation aussi bien dans les domaines résidentiels que tertiaires.</span>
                <div class='exper__droits__list--right--arrow2'>
                        <img src='../assets/arrow-small2.svg' alt="arrow">
                        <span>En savoir plus</span>
                </div>
            </div>  
                <div class='exper__droits--detail2'>
            L’immobilier fait l’objet de réglementations juridiques évolutives et complexes, notamment le marché de la location touristique (Airbnb) s’inscrit au cœur de l’actualité française et internationale.<br>
                Plus récemment, le coliving, nouveau mode de résidence des jeunes actifs prend de l’ampleur et engendre une réglementation locative nouvelle. <br><br>
                Urban Act Avocat conseille et défend propriétaires et locataires dans ce contexte immobilier en pleine mutation aussi bien dans les domaines résidentiels que tertiaires. <br><br>
                <span>DOSSIERS RÉCENTS</span><br>
                    -Défense des propriétaires et locataires assignés par la ville de PARIS au titre de leurs locations meublés touristiques type Airbnb. <br>
                    -Conseils auprès de propriétaires souhaitant transformer leur local commercial en Airbnb.<br>
                    -Assignation contre un ancien syndic de copropriété à la demande de copropriétaires d’un immeuble faisant l’objet d’arrêtés de péril.<br>
                <br><br><a>Lire l'article  <img src='../assets/arrow-right.svg' alt='arrow'> "Ce que va changer l'arrêt de la CJUE sur les locations de type AirBNB à Paris". </a>
                <div class='exper__droits--reduire2'>
                        <img src='../assets/arrow-small-down.svg' alt="arrow">
                        <span>Réduire</span>
                </div>  
            </div>
        </div>
        

        {# expertise  3 #}
        <div class='exper__droits__list'>
            <div class='exper__droits__list--left'>
             <img src='../assets/arrow-right.svg' alt='arrow'>
                <h2 class='titre-exp3'>Dommages Corporels</h2>
            </div>
            <div class='exper__droits__list--right'>
                <span>Urban Act Avocat vous assiste dans la réparation juridique de vos préjudices corporels…</span>
                <div class='exper__droits__list--right--arrow3'>
                    <img src='../assets/arrow-small2.svg' alt="arrow">
                    <span>En savoir plus</span>
                </div>
            </div> 
             <div class='exper__droits--detail3'>
                Urban Act Avocat vous assiste dans la réparation juridique de vos préjudices corporels:<br>
                ​-Accident de la circulation<br>
                -Accident médical<br>
                -Accident de la vie<br><br>
                A ce titre, le Cabinet vous représente devant les Commissions de Conciliation et d’Indemnisation des Accidents Médicaux (C.C.I.) et vous défend devant les juridictions civiles.<br><br>
                <span>DOSSIERS RÉCENTS</span><br>
                -Défense de victimes d’accidents liés à des EDPM (engins de déplacements personnels motorisés), assistance en cours aux opérations d’expertises médicales et négociations avec des compagnies d’assurances.<br>
                <div class='exper__droits--reduire3'>
                        <img src='../assets/arrow-small-down.svg' alt="arrow">
                        <span>Réduire</span>
                </div>  
            </div>
        </div>
       
    </div>
</section>