<section class='footer'>
    <div class='footer__link'>
        <a href="/mentions">Mentions Légales</a>
        <a href="https://www.linkedin.com/in/valentine-gros-74318385/" target='_blank'>Linkedin</a>
    </div>
    <img src='../assets/logo.png' alt="urbanactavocats">
    <div class='footer__credits'>222 Boulevard Saint-Germain 75007 Paris <br>
    Urban Act Avocat © 2020</div>
</section>