<nav class='header' id="header">
    <ul>
        <li><a href='/'><img src='../assets/logo.png' alt="urbanactavocats"></a></li>
        <li class='header__title'>Urban act avocat</li>   
        <li class='header__address'>222 Boulevard Saint-Germain <br> 75007 Paris, FR </li>
    </ul> 
</nav>