<section class='landing'>
        <div class='landing__titles'>
            <h1 class='landing__title'>Urban act avocat</h1>
            <h2 class='landing__subtitle'>Cabinet d’avocat dédié aux problématiques juridiques liées à la <span class="blue">vie urbaine</span></h2>
        </div>
        <div class='landing__arrow'>
            <img class='landing__arrow__png' src='../assets/arrow.png' alt='down'>
        </div>
        <img class='landing__img' src='assets/paris.png' alt='paris'>  
</section>