<section class="menu">
    <ul>
        <li>Expertises</li>
        <li>Actualités</li>   
        <li>Contact</li>
    </ul> 
    <div class='menu__txt__1'>
    Cabinet d’avocat dédié aux problématiques juridiques liées à la  <span class="blue">vie urbaine</span>
    </div>
    <div class='menu__txt__2'>
    Air BNB, co-living, ubérisation, nouvelles mobilités… Un vocabulaire inédit émerge pour illustrer les mutations profondes de la vie urbaine. Derrière ces mots, c’est un bouleversement complet de nos pratiques sociales et juridiques qui est engagé.
    <br><br><br>
    URBAN ACT AVOCAT est à l’écoute de ces mutations et des nouvelles régulations qu’elles engendrent. 
    </div>
</section>