<section class='article'>

{% include '/layouts/_base.twig' %}
{% include '/sections/_header.twig' %}

  <h2 class='article__title'>Actualités</h2>
  <div class='article__ctn'>
        <h3 class='article__ctn__title'>Ce que va changer la réforme</h3>
        <span class='article__ctn__date'>12-12-12</span>
        <img src='../assets/airb.png' alt="article" class='article__ctn__img'>
        <span class='article__ctn__text'>L’immobilier fait l’objet de réglementations juridiques 
évolutives et complexes, 
notamment le marché de la location touristique (Airbnb) s’inscrit au cœur de 
l’actualité française et internationale.

Plus récemment, le coliving, nouveau mode de résidence des jeunes actifs 
prend de l’ampleur et engendre une réglementation locative nouvelle.

Urban Act Avocat conseille et défend propriétaires et locataires dans ce 
contexte immobilier en pleine mutation aussi bien dans les domaines 
résidentiels que tertiaires. </span>
  </div>

{% include '/sections/_footer.twig' %}

</section>